@model TrafficIntensityVM

@{
    ViewData["Title"] = "Index";
}

<h1>Get Traffic</h1>
<hr />

<partial name="_TrafficSearchForm" model="new TrafficSearchVM()" ) />

@if (Model == null) {

} else {

    <div class="row mx-auto text-white">
        <div class="card-deck mx-auto justify-content-between">
            <div class="card bg-success">
                <div class="card-body text-center">
                    <h2 class="card-title w-100" style="font-size: 2rem;">@Model.CarsAmount</h2>
                    <p class="card-text">@Html.DisplayNameFor(model => model.CarsAmount)</p>
                </div>
            </div>
            <div class="card bg-info">
                <div class="card-body text-center">
                    <h2 class="card-title w-100" style="font-size: 2rem;">@Model.AverageSpeed</h2>
                    <p class="card-text">@Html.DisplayNameFor(model => model.AverageSpeed)</p>
                </div>
            </div>
        </div>
    </div>

    <ul>
        @foreach (var car in Model.Cars) {
            <li>@car.ToString();</li>
        }
    </ul>
}
